---
import { formatDate } from "@utilities/index"
import Layout from "@layouts/Layout.astro"
const {frontmatter} = Astro.props;
---

<Layout>
	<section>
  <article>
		<header>
			<hgroup>
				<h1>{frontmatter.title}</h1>
				<p>
					<timedate>{formatDate(frontmatter.date, "long")}</timedate>
				</p>
			</hgroup>
		</header>
		<figure>
			<img src={frontmatter.image.src} alt={frontmatter.image.alt} width={frontmatter.image.width} height={frontmatter.image.height} />
		</figure>
    <slot />
  </article>
</section>
</Layout>
